<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="createModal" th:fragment="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form th:object="${blog}" action="/blog/create" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tạo blog</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Chủ đề:</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="postTime" class="col-form-label">Thời gian đăng:</label>
                        <input type="date" class="form-control" id="postTime" th:name="postTime" th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
                    </div>
                    <div class="mb-3">
                        <label for="author" class="col-form-label">Tác giả:</label>
                        <input type="text" class="form-control" id="author" th:field="*{author}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Kiểu:</label>
                        <select class="form-select" th:field="*{category.id}">
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.type}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="col-form-label">Nội dung:</label>
                        <textarea class="form-control" id="content" th:field="*{content}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>