<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:fragment="bootstrap" rel="stylesheet" th:href="@{/bootstrap-5.3.0-dist/css/bootstrap.min.css}">
    <title>Create a blog</title>
</head>
<body>
<div class="container">
    <h2 class="text-center">Create</h2>

    <form th:object="${blog}" action="/blog/create" method="post">
        <div class="mb-3">
            <label th:for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" th:field="*{name}" th:id="name"/>
        </div>
        <div class="mb-3">
            <label th:for="postTime" class="col-form-label">PostTime:</label>
            <input type="date" class="form-control" th:field="*{postTime}" th:id="postTime"/>
        </div>
        <div class="mb-3">
            <label th:for="author" class="col-form-label">Author:</label>
            <input type="text" class="form-control" th:field="*{author}" th:id="author"/>
        </div>
        <div class="mb-3">
            <label th:for="content" class="col-form-label">Content:</label>
            <textarea cols="10" rows="10" class="form-control"
                      th:field="*{content}" th:id="content"></textarea>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-secondary" value="OK">
        </div>
    </form>
</div>
</body>
</html>